<div class="card registerDiv">
  <h6 class="card-header text-center text-color-font">Add New Train Page</h6>
  <div class="card-body">
    <form [formGroup]="addTrainForm" (ngSubmit)="onSubmit()">
      <table class="table table-responsive-sm">
        <tr>
          <td>
            <div class="mb-3">
              <label class="form-label" for="trainNumber">Train Number</label>
              <input id="trainNumber" formControlName="trainNumber" type="text" class="form-control"
                     placeholder="Enter Train Number" appOnlyNumbers>
              <div *ngIf="addTrainForm.get('trainNumber')?.touched && addTrainForm.get('trainNumber')?.invalid">
                <small *ngIf="addTrainForm.get('trainNumber')?.errors?.['required']">Train Number is required.</small>
                <small *ngIf="addTrainForm.get('trainNumber')?.errors?.['minlength']">Train Number must be at least 5
                  characters
                  long.</small>
                <small *ngIf="addTrainForm.get('trainNumber')?.errors?.['whitespace']">Train Number cannot contain
                  spaces.</small>
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label class="form-label" for="trainName">Train Name</label>
              <input id="trainName" type="text" formControlName="trainName"
                     class="form-control" placeholder="Enter Train Name" appOnlyAlphabets>
              <div *ngIf="addTrainForm.get('trainName')?.touched && addTrainForm.get('trainName')?.invalid">
                <small *ngIf="addTrainForm.get('trainName')?.errors?.['required']">Train Name is required.</small>
                <small *ngIf="addTrainForm.get('trainName')?.errors?.['minlength']">Train name must be at least 5
                  characters
                  long.</small>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="mb-3">
              <label for="totalCoach">Total Coach</label>
              <input id="totalCoach" formControlName="totalCoach" placeholder="Enter Total Coach"
                     class="form-control" appOnlyNumbers>
              <div *ngIf="addTrainForm.get('totalCoach')?.touched && addTrainForm.get('totalCoach')?.invalid">
                <small *ngIf="addTrainForm.get('totalCoach')?.errors?.['required']">Total Coach is
                  required.</small>
                <small *ngIf="addTrainForm.get('totalCoach')?.errors?.['pattern']">Total Coach must be
                  numeric.</small>
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="eachCoach">Each Coach</label>
              <input id="eachCoach" formControlName="eachCoach" placeholder="Enter Each Coach"
                     class="form-control" appOnlyNumbers>
              <div *ngIf="addTrainForm.get('eachCoach')?.touched && addTrainForm.get('eachCoach')?.invalid">
                <small *ngIf="addTrainForm.get('eachCoach')?.errors?.['required']">Each Coach is
                  required.</small>
                <small *ngIf="addTrainForm.get('eachCoach')?.errors?.['pattern']">Each Coach must be
                  numeric.</small>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="mb-3">
              <label class="form-label" for="sourceLocation">Source Location</label>
              <input id="sourceLocation" type="text" formControlName="sourceLocation"
                     class="form-control" placeholder="Enter Source Location" appOnlyAlphabets>
              <div *ngIf="addTrainForm.get('sourceLocation')?.touched && addTrainForm.get('sourceLocation')?.invalid">
                <small *ngIf="addTrainForm.get('sourceLocation')?.errors?.['required']">Source Location is required.</small>
                <small *ngIf="addTrainForm.get('sourceLocation')?.errors?.['minlength']">Source Location must be at least 5
                  characters
                  long.</small>
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label class="form-label" for="destinationLocation">Destination Location</label>
              <input id="destinationLocation" type="text" formControlName="destinationLocation"
                     class="form-control" placeholder="Enter Destination Location" appOnlyAlphabets>
              <div *ngIf="addTrainForm.get('destinationLocation')?.touched && addTrainForm.get('destinationLocation')?.invalid">
                <small *ngIf="addTrainForm.get('destinationLocation')?.errors?.['required']">Destination Location is required.</small>
                <small *ngIf="addTrainForm.get('destinationLocation')?.errors?.['minlength']">Destination Location must be at least 5
                  characters
                  long.</small>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="mb-3">
              <label for="seatPrice">Seat Price</label>
              <input id="seatPrice" formControlName="seatPrice" placeholder="Enter Seat Price"
                     class="form-control" appOnlyNumbers>
              <div *ngIf="addTrainForm.get('seatPrice')?.touched && addTrainForm.get('seatPrice')?.invalid">
                <small *ngIf="addTrainForm.get('seatPrice')?.errors?.['required']">Seat Price is
                  required.</small>
                <small *ngIf="addTrainForm.get('seatPrice')?.errors?.['pattern']">Seat Price must be
                  numeric.</small>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="margin-left: 100px">
              <button [disabled]="loading" class="btn btn-primary" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Submit
              </button>&nbsp;&nbsp;
              <button class="btn btn-primary" (click)="clearForm()">Clear</button>
            </div>
          </td>
        </tr>
      </table>
      <div *ngIf="errorMessage != null">
        <span class="text-danger" style="padding-left: 50px">{{ errorMessage }}</span>
      </div>
    </form>
  </div>
</div>
