
.table.dataTable th {
  font-family: tahoma;
  font-size: 12px;
  direction: rtl;
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  text-align: center;
  color: red;
}

.table.dataTable td {
  font-family: tahoma;
  font-size: 12px;
  direction: rtl;
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  text-align: center;
}

.table.dataTable tbody {
  font-family: tahoma;
  font-size: 12px;
  direction: rtl;
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  text-align: center;
}
