<!--<table id="dataTable" class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>-->

<br/>
<table>
  <tr>
    <td>Select Start Date <br/><input type="text"></td>
    <td>Select End Date <br/><input type="text"></td>
    <td>From Location <br/><input type="text"></td>
    <td>To Location <br/><input type="text"></td>
    <td><button class="btn btn-primary">Search</button></td>
  </tr>
</table>
<table class="table table-striped table-bordered table-sm row-border hover"
       id="dataTable">
  <thead>
  <tr>
    <th>Id</th>
    <th>Train Number</th>
    <th>Train Name</th>
    <th>Total Coach</th>
    <th>Each Coach</th>
    <th>Price</th>
    <th>Source</th>
    <th>Destination</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
