<div class="card registerDiv">
  <h6 class="card-header text-center text-color-font">Contact Us Page</h6>
  <div class="card-body">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input id="name" formControlName="name" type="text" class="form-control"
               placeholder="Enter First Name" appRestrictCharacters>
        <div *ngIf="registrationForm.get('name')?.touched && registrationForm.get('name')?.invalid">
          <small *ngIf="registrationForm.get('name')?.errors?.['required']"> Name is required.</small>
          <small *ngIf="registrationForm.get('name')?.errors?.['minlength']"> Name must be at least 5 characters
            long.</small>
          <small *ngIf="registrationForm.get('name')?.errors?.['whitespace']"> Name cannot contain
            spaces.</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input id="email" formControlName="email" class="form-control"
               placeholder="Enter Email" appRestrictSpaces>
        <div *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid">
          <small *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="registrationForm.get('email')?.errors?.['email']">Enter a valid email.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" type="text" formControlName="phoneNumber" placeholder="Enter Phone Number"
               class="form-control" appOnlyNumbers>
        <div *ngIf="registrationForm.get('phoneNumber')?.touched && registrationForm.get('phoneNumber')?.invalid">
          <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['required']">Phone number is required.</small>
          <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['pattern']">Phone number must be numeric.</small>
          <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['minlength']">Phone number must be 10 digits
            long.</small>
          <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['maxlength']">Phone number must be 10 digits
            long.</small>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="message">Message</label>
        <textarea id="message" formControlName="message" class="form-control"
                  placeholder="Enter Message"></textarea>
        <div *ngIf="registrationForm.get('message')?.touched && registrationForm.get('message')?.invalid">
          <small *ngIf="registrationForm.get('message')?.errors?.['required']">Message is required.</small>
          <small *ngIf="registrationForm.get('message')?.errors?.['minlength']">Message must be at least 5 characters
            long.</small>
          <small *ngIf="registrationForm.get('message')?.errors?.['whitespace']">Message cannot contain
            spaces.</small>
        </div>
      </div>

      <div style="margin-left: 100px">
        <button [disabled]="loading" class="btn btn-primary" type="submit">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Submit
        </button>&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="clearForm()">Clear</button>
        <!-- <span class="text-danger" style="padding-left: 50px">{{ errorMessage }}</span>-->
      </div>
    </form>
  </div>
</div>
