
.container-fluid {
  margin-top: 10px;
  //width: 1450px;
  height: 835px;
  background-color: #e6ebf1;
}

.navbar.navbar-fixed-top {
  width: 65% !important;
  margin: 0px auto;
  left: 0;
  right: 0;
  padding: 0;
}

.text-color-font {
  color: #808080;
  font-style: italic;
}

.active-link {
  color: #c800ff; /* Change this to your desired active color */
  font-weight: bold; /* Optional: add more styles to distinguish the active link */
}
