
<!--<app-data-tables-example></app-data-tables-example>
<router-outlet></router-outlet>-->

<div class="container-fluid border border-primary">
  <br/>
  <nav class="navbar navbar-expand-xl bg-light fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link navbar-brand text-color-font"
           routerLink="./home" routerLinkActive="active-link" href="#" style="padding-left: 20px;">Train Ticket Booking System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-color-font" routerLink="./about" routerLinkActive="active-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-color-font" routerLink="./contact" routerLinkActive="active-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-color-font" routerLink="./scheduledTrains" routerLinkActive="active-link" href="#"
        >View Scheduled Trains</a>
      </li>
      <div *ngIf="user_role == 'ROLE_ADMIN'">
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-left: 300px">
            <a class="nav-link text-color-font" routerLink="./location" routerLinkActive="active-link" href="#"
            >Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color-font" routerLink="./trainDetails" routerLinkActive="active-link" href="#"
            >Train Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color-font" routerLink="./scheduleTrain" routerLinkActive="active-link" href="#"
            >Schedule Train</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color-font" routerLink="./allTickets" routerLinkActive="active-link" href="#"
            >Ticket Booking</a>
          </li>
        </ul>
      </div>
      <li class="nav-item">
        <a class="nav-link text-color-font" routerLink="./addTrain" routerLinkActive="active-link" href="#"
        >Add Train</a>
      </li>
      <li class="nav-item">
        <div *ngIf="userName != null">
          <button class="btn-primary" (click)="logout()"
          >Logout
          </button>
        </div>
      </li>
      <li class="nav-item" style="margin-left: 400px">
        <a class="nav-link text-color-font" routerLink="./admin" routerLinkActive="active-link" href="#"
        >Register Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-color-font" routerLink="./user" routerLinkActive="active-link" href="#"
        >Register User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-color-font" routerLink="./login" routerLinkActive="active-link" href="#"
        >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-color-font" routerLink="./employee" routerLinkActive="active-link" href="#"
        >Employee</a>
      </li>
    </ul>
  </nav>
  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <router-outlet></router-outlet>
  </div>

</div>

<!--
ng g m modules/home --routing
ng g m modules/ScheduledTrains --routing
ng g m modules/pageNotFound --routing
ng g m modules/login --routing
ng g m modules/history --routing
ng g m modules/TicketBooking --routing
ng g m modules/AddTrain --routing
ng g m modules/employee --routing

ng g c components/home --module=modules/home/home.module.ts
ng g c components/pageNotFound --module=modules/page-not-found/page-not-found.module.ts
ng g c components/scheduledTrains --module=modules/scheduled-trains/scheduled-trains.module.ts
ng g c components/about --module=modules/about/about.module.ts
ng g c components/admin --module=modules/admin/admin.module.ts
ng g c components/booking --module=modules/booking/booking.module.ts
ng g c components/contact --module=modules/contact/contact.module.ts
ng g c components/history --module=modules/history/history.module.ts
ng g c components/home --module=modules/home/home.module.ts
ng g c components/location --module=modules/location/location.module.ts
ng g c components/login --module=modules/login/login.module.ts
ng g c components/pageNotFound --module=modules/page-not-found/page-not-found.module.ts
ng g c components/scheduleTrain --module=modules/schedule-train/schedule-train.module.ts
ng g c components/scheduledTrains --module=modules/scheduled-trains/scheduled-trains.module.ts
ng g c components/train --module=modules/train/train.module.ts
ng g c components/user --module=modules/user/user.module.ts
ng g c components/admin/view --module=modules/admin/view/view.module.ts
ng g c components/admin/create --module=modules/admin/create/create.module.ts
ng g c components/admin/update --module=modules/admin/update/update.module.ts
ng g c components/admin/checkAllAppointments --module=modules/admin/check-all-appointments/check-all-appointments.module.ts
ng g c components/TicketBooking --module=modules/ticket-booking/ticket-booking.module.ts
ng g c components/AddTrain --module=modules/add-train/add-train.module.ts
ng g c components/employee --module=modules/employee/employee.module.ts

ng g class models/TrainDetails

ng g i models/GlobalResponse
ng g i models/TrainDetails
ng g i models/States

ng g s services/Contact
ng g s services/User
ng g s services/Jwt
ng g s services/Common
ng g s form-label


ng g interceptor interceptors/Railway
ng g interceptor interceptors/ErrorInterceptor

ng test --include=src/app/components/add-train/add-train.component.spec.ts
ng test --include=src/app/components/admin/admin.component.spec.ts
ng test --include=src/app/components/employee/view/view.component.spec.ts

sudo npm install @fortawesome/fontawesome-free
-->
