.registerDiv{
  width: 650px;
  margin-top: 30px;
  margin-left: 350px;
  border: solid 2px #bce4f7;
}

div {
  margin-bottom: 10px;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

small {
  color: red;
}
