.mainDiv{
  width: 1950px;
  margin-left: 20px;
  margin-top: 5px;
  border: solid 2px #c800ff;
}
.registerDiv{
  width: 650px;
  border: solid 2px #bce4f7;
}
.dataTableDiv{
  width: 300px;
  margin-left: 250px;
}

div {
  margin-bottom: 10px;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

small {
  color: red;
}


.table.dataTable th {
  font-family: tahoma;
  font-size: 12px;
  direction: rtl;
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  text-align: center;
  color: red;
}

.table.dataTable td {
  font-family: tahoma;
  font-size: 12px;
  direction: rtl;
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  text-align: center;
}

.table.dataTable tbody {
  font-family: tahoma;
  font-size: 12px;
  direction: rtl;
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
  text-align: center;
}

