<br/>
<div class="container" style="width: 100%;border: solid 2px #c800ff;">
  <div class="row">
    <div class="col-5 border border-success">
      One of three columns
    </div>
    <div class="col-7 border border-primary">
      One of three columns
    </div>
  </div>
</div>
<!--
<div class="container mainDiv">
  <div class="row">
    <div class="col-4">
      <div class="card registerDiv">
        <h6 class="card-header text-center text-color-font">Admin Registration Page</h6>
        <div class="card-body">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <table class="table table-responsive-sm">
              <tr>
                <td>
                  <div class="mb-3">
                    <label class="form-label" for="adminId">AdminId</label>
                    <input id="adminId" formControlName="adminId" type="text" class="form-control"
                           placeholder="Enter Admin Id" appOnlyNumbers>
                    <div *ngIf="registrationForm.get('adminId')?.touched && registrationForm.get('adminId')?.invalid">
                      <small *ngIf="registrationForm.get('adminId')?.errors?.['required']">AdminId is required.</small>
                      <small *ngIf="registrationForm.get('adminId')?.errors?.['minlength']">AdminId must be at least 5
                        characters
                        long.</small>
                      <small *ngIf="registrationForm.get('adminId')?.errors?.['whitespace']">AdminId cannot contain
                        spaces.</small>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="mb-3">
                    <label class="form-label" for="firstName">First Name</label>
                    <input id="firstName" formControlName="firstName" type="text" class="form-control"
                           placeholder="Enter First Name" appOnlyAlphabets>
                    <div
                      *ngIf="registrationForm.get('firstName')?.touched && registrationForm.get('firstName')?.invalid">
                      <small *ngIf="registrationForm.get('firstName')?.errors?.['required']">First Name is
                        required.</small>
                      <small *ngIf="registrationForm.get('firstName')?.errors?.['minlength']">First Name must be at
                        least 5
                        characters
                        long.</small>
                      <small *ngIf="registrationForm.get('firstName')?.errors?.['whitespace']">First Name cannot contain
                        spaces.</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="mb-3">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input id="lastName" type="text" formControlName="lastName"
                           class="form-control" placeholder="Enter Last Name" appOnlyAlphabets>
                    <div *ngIf="registrationForm.get('lastName')?.touched && registrationForm.get('lastName')?.invalid">
                      <small *ngIf="registrationForm.get('lastName')?.errors?.['required']">Last Name is
                        required.</small>
                      <small *ngIf="registrationForm.get('lastName')?.errors?.['minlength']">Last name must be at least
                        5
                        characters
                        long.</small>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input id="username" formControlName="username" type="text" class="form-control"
                           placeholder="Enter UserName" appNoSpaces>
                    <div *ngIf="registrationForm.get('username')?.touched && registrationForm.get('username')?.invalid">
                      <small *ngIf="registrationForm.get('username')?.errors?.['required']">Username is
                        required.</small>
                      <small *ngIf="registrationForm.get('username')?.errors?.['minlength']">Username must be at least 5
                        characters
                        long.</small>
                      <small *ngIf="registrationForm.get('username')?.errors?.['whitespace']">Username cannot contain
                        spaces.</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input id="password" type="password" formControlName="password"
                           class="form-control" placeholder="Enter Password" appNoSpaces>
                    <div *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.invalid">
                      <small *ngIf="registrationForm.get('password')?.errors?.['required']">Password is
                        required.</small>
                      <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">Password must be at least 8
                        characters
                        long.</small>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input id="email" formControlName="email" class="form-control"
                           placeholder="Enter Email" appNoSpaces>
                    <div *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.invalid">
                      <small *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</small>
                      <small *ngIf="registrationForm.get('email')?.errors?.['email']">Enter a valid email.</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="mb-3">
                    <label for="phoneNumber">Phone Number</label>
                    <input id="phoneNumber" formControlName="phoneNumber" placeholder="Enter Phone Number"
                           class="form-control" appOnlyNumbers>
                    <div
                      *ngIf="registrationForm.get('phoneNumber')?.touched && registrationForm.get('phoneNumber')?.invalid">
                      <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['required']">Phone number is
                        required.</small>
                      <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['pattern']">Phone number must be
                        numeric.</small>
                      <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['minlength']">Phone number must be 10
                        digits
                        long.</small>
                      <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['maxlength']">Phone number must be 10
                        digits
                        long.</small>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="mb-3">
                    <label for="stateName">State</label>
                    <select id="stateName" formControlName="stateName" class="form-control">
                      <option value="" disabled>Select your State</option>
                      <option *ngFor="let state of states" [value]="state.stateName">{{ state.stateName }}</option>
                    </select>
                    <div
                      *ngIf="registrationForm.get('stateName')?.touched && registrationForm.get('stateName')?.invalid">
                      <small *ngIf="registrationForm.get('stateName')?.errors?.['required']">State is required.</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="mb-3">
                    <label for="gender">Gender</label>
                    <div>
                      <input type="radio" id="male" formControlName="gender" value="Male">
                      <label for="male">Male</label>
                    </div>
                    <div>
                      <input type="radio" id="female" formControlName="gender" value="Female">
                      <label for="female">Female</label>
                    </div>
                    <div *ngIf="registrationForm.get('gender')?.touched && registrationForm.get('gender')?.invalid">
                      <small *ngIf="registrationForm.get('gender')?.errors?.['required']">Gender is required.</small>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="margin-left: 100px">
                    <button [disabled]="loading" class="btn btn-primary" type="submit">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                      Submit
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-primary" (click)="clearForm()">Clear</button>
                  </div>
                </td>
              </tr>
            </table>
            <div *ngIf="errorMessage != null">
              <span class="text-danger" style="padding-left: 50px">{{ errorMessage }}</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-8 dataTableDiv">
      <table class="table table-striped table-bordered table-sm row-border hover"
             id="dataTable">
        <thead>
        <tr>
          <th>Id</th>
          <th>Train Number</th>
          <th>Train Name</th>
          <th>Total Coach</th>
          <th>Each Coach</th>
          <th>Price</th>
          <th>Source</th>
          <th>Destination</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>-->

<!--
<div>
  <h2>Employee Management</h2>

  <form (ngSubmit)="onSubmitAdmin()">
    <div>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" [(ngModel)]="adminDetail.firstName" name="firstName" required>
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" [(ngModel)]="adminDetail.lastName" name="lastName" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="adminDetail.email" name="email" required>
    </div>
    <button type="submit">{{ isAddMode ? 'Add' : 'Update' }}</button>
  </form>

  <h2>Employee List</h2>
  <table>
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let admin of adminDetails">
      <td>{{admin.firstName}}</td>
      <td>{{admin.lastName}}</td>
      <td>{{admin.email}}</td>
      <td>
        <button (click)="updateAdminDetails(admin)">Edit</button>
        <button (click)="deleteAdmin(admin.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>-->


