<h1>sudo npm i bootstrap</h1>
<h1>sudo npm i --save-dev @types/jquery</h1>
<h1>sudo npm i datatables.net-bs5 jquery --save</h1>
<h1></h1>
<table id="dataTable" class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <!-- Add more headers as needed -->
  </tr>
  </thead>
  <tbody>
  <!-- Data rows will be populated dynamically by DataTables -->
  </tbody>
</table>
