.loginDiv{
  width: 550px;
  margin-top: 100px;
  margin-left: 500px;
  border: solid 2px #bce4f7;
}

/* password-toggle.component.css */
.input-group-append .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
