<div class="card loginDiv">
  <h4 class="card-header bg-light text-danger text-center" style="font-style: italic">Railway Reservation System
    Login</h4>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input id="username" formControlName="username" type="text" class="form-control"
               placeholder="Enter UserName" appNoSpaces>
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
          <small *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</small>
          <small *ngIf="loginForm.get('username')?.errors?.['minlength']">Username must be at least 5
            characters
            long.</small>
          <small *ngIf="loginForm.get('username')?.errors?.['whitespace']">Username cannot contain
            spaces.</small>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input id="password" formControlName="password"
               [type]="isPasswordVisible ? 'text' : 'password'"
               class="form-control" placeholder="Enter Password" appNoSpaces>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8
            characters
            long.</small>
        </div>
        <div class="input-group-append">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="togglePasswordVisibility()">
            <i class="fa" [ngClass]="{'fa-eye': !isPasswordVisible, 'fa-eye-slash': isPasswordVisible}"></i>
          </button>
        </div>
      </div>

      <div style="margin-left: 100px">
        <button [disabled]="loading" class="btn btn-primary" type="submit">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Submit
        </button>&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="clearForm()">Clear</button>
      </div>
    </form>
    <div *ngIf="errorMessage != null">
      <span class="text-danger" style="padding-left: 50px">{{ errorMessage }}</span>
    </div>
  </div>
</div>
